.u-section-1 {
  background-image: url("images/g1fe64b6b2160e44077a9e8b383158b641128c644939d86e69f05a7bc55a54c9b5993edd05d73b7f3c4fdc15cc1f3b370_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 948px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  width: 425px;
  margin: 65px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 782px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 599px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    background-position: 44.85% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 449px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    background-position: 41.1% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 283px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }
}